{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %}Login Page{% endblock %}

{% block context %}
  <div class="container">
    <form class="login-form"  method="POST">
      <h2>Login</h2>
      <p>To continue your learning jouney 👨‍🏫👨‍🏫👨‍🏫</p>
      <input type="email" placeholder="Email" name="email" required>
      <div class="password-container">
        <input type="password" placeholder="Password" name="password" required>
        <button type="button" class="show-password">Show</button>
      </div>
      <button type="submit">Login</button>
      <p>Don't have an Account? <a href="/signup">Sign Up</a></p>
    </form>
  </div>
  <script>
    const showPasswordButtons = document.querySelectorAll('.show-password');
  
    showPasswordButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        const passwordInput = button.previousElementSibling;
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        button.textContent = type === 'password' ? 'Show' : 'Hide';
      });
    });
  </script>
{% endblock %}
