.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-icon {
  top: 10px;
  left: 10px;
  width: 300px; 
  height: 300px; 
}

.subject-box {
  border-radius: 10px;
  text-align: center;
  margin: 30px;
  background-color: #e0e0e0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.subject-box1 {
  border-radius: 10px;
  text-align: center;
  margin: 30px;
  background-color: #e0e0e0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 18px;
  margin-top: 10px;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

a.button:hover {
  background-color: #0056b3;
} 

.right-box {
  background-color: #002D62; 
  width:15%;
  position: absolute  ;
  top:9.2%;
  left:84.5%;
  height:109%;
  color: #fff;
  font-weight: bold;
  text-align: center;


}

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}